<div>
  <div>
    <img src="../../assets/ellipse.png" alt="">
    <div>
      <h1>swedavia</h1>
      <h3>swedish airport</h3>
    </div>
  </div>
  <form [formGroup]="loginForm"
        (submit)="onSubmit(loginForm.value)"
  >
    <div>
      <label>Username</label>
      <input formControlName="username"
             name="username">
      <div *ngIf="loginForm.get('username').touched && loginForm.get('username').errors">
        <div [hidden]="!loginForm.get('username').errors.required">Email is required</div>
        <div [hidden]="!loginForm.get('username').errors.email">Email is not valid</div>
      </div>
    </div>
    <div>
      <label>Password</label>
      <input formControlName="password"
             name="password"
             type="password">
      <div *ngIf="loginForm.get('password').touched && loginForm.get('password').errors">
        <div [hidden]="!loginForm.get('password').errors.required">Password is required</div>
        <div [hidden]="!loginForm.get('password').errors.minlength">Password is too short</div>
        <div [hidden]="!loginForm.get('password').errors.symbol">Password should contains 1 or more special symbols
        </div>
        <div [hidden]="!loginForm.get('password').errors.character">Password should contains 2 or more characters</div>
      </div>
    </div>
    <div>
      <button [disabled]="loginForm.invalid">SUBMIT</button>
      <a href="">Forgot password?</a>
    </div>
  </form>
  <span>Powered by <a href="">Cygate</a></span>
</div>
<app-popup-greetings *ngIf="isAuthorized"></app-popup-greetings>
