$color-grey: rgb(186, 186, 186);
$color-blue: rgb(0, 77, 139);
$border-radius-2: 2px;

:host {
  display: flex;
  justify-content: center;
  justify-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(245, 245, 245);

  & > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
    width: 340px;

    & > div:first-child {
      display: flex;
      color: $color-blue;
      align-items: center;
      div {
        margin-left: 20px;

        * {
          margin: 0;
          font-weight: bold;
        }

        h1 {
          font-size: 34px;
        }

        h3 {
          font-size: 20px
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: $border-radius-2;
      width: 100%;
      padding: 15px 25px 25px 25px;
      margin: 20px 0;

      box-shadow: none;
      -webkit-transition: box-shadow .2s ease-out;
      -moz-transition: box-shadow .2s ease-out;
      -o-transition: box-shadow .2s ease-out;
      transition: box-shadow .2s ease-out;

      &:hover {
        box-shadow: 0 3px 15px gray;

        -webkit-transition: box-shadow .5s ease-out;
        -moz-transition: box-shadow .5s ease-out;
        -o-transition: box-shadow .5s ease-out;
        transition: box-shadow .5s ease-out;
      }

      & > div {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        input {
          padding: 7px;
          border-radius: $border-radius-2;
          border: 1px solid rgb(247, 247, 247);
        }

        div {
          padding: 5px;
          border-radius: $border-radius-2;
          background-color: #ffa0a0;
        }
      }

      & > div:last-child {
        margin-top: 10px;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        button {
          border-radius: 50px;
          padding: 10px 30px;
          border: none;
          background-color: rgb(236, 0, 144);
          color: white;
          letter-spacing: 1px;
          cursor: pointer;

          &:focus {
            outline: none;
          }
        }

        a {
          color: $color-grey;
        }
      }
    }
    span {
      color: $color-grey;

      a {
        color: inherit;
      }
    }
  }
}

